<div class="subjects">

  <div class="subject">
    <div class="subject-name">
      <a href="/">
        全教科
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/2/choice">
        現代文
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/3/choice">
        古文
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/4/choice">
        漢文
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/5/choice">
        英語
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/6/choice">
        数学I
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/7/choice">
        数学II
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/8/choice">
        数学III
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/9/choice">
        数学A
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/10/choice">
        数学B
      </a>
    </div>
  </div>

    <div class="subject">
    <div class="subject-name">
      <a href="/posts/11/choice">
        数学C
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/12/choice">
        物理
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/13/choice">
        生物
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/14/choice">
        化学
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/15/choice">
        地学
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/16/choice">
        地理
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/17/choice">
        日本史
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/18/choice">
        世界史
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/19/choice">
        公民
      </a>
    </div>
  </div>

  <div class="subject">
    <div class="subject-name">
      <a href="/posts/20/choice">
        その他
      </a>
    </div>
  </div>

</div>