<div class="side-bar_3" id="side-bar">
  <div class="menu">    
    <label for="menu_bar01">国語</label>
    <input type="checkbox" id="menu_bar01">
    <ul id="links01">
        <li><a href="/posts/2/choice">現代文</a></li>
        <li><a href="/posts/3/choice">古文</a></li>
        <li><a href="/posts/4/choice">漢文</a></li>
    </ul>
    <label for="menu_bar02">外国語</label>
    <input type="checkbox" id="menu_bar02">
    <ul id="links02">
        <li><a href="/posts/5/choice">英語</a></li>
        <li><a href="/posts/6/choice">ドイツ語</a></li>
        <li><a href="/posts/7/choice">フランス語</a></li>
        <li><a href="/posts/8/choice">中国語</a></li>
        <li><a href="/posts/9/choice">韓国語</a></li>
    </ul>
    <label for="menu_bar03">数学</label>
    <input type="checkbox" id="menu_bar03">
    <ul id="links03">
        <li><a href="/posts/10/choice">数学I</a></li>
        <li><a href="/posts/11/choice">数学II</a></li>
        <li><a href="/posts/12/choice">数学III</a></li>
        <li><a href="/posts/13/choice">数学A</a></li>
        <li><a href="/posts/14/choice">数学B</a></li>
        <li><a href="/posts/15/choice">数学C</a></li>
    </ul>
    <label for="menu_bar04">理科</label>
    <input type="checkbox" id="menu_bar04">
    <ul id="links04">
        <li><a href="/posts/16/choice">物理</a></li>
        <li><a href="/posts/17/choice">生物</a></li>
        <li><a href="/posts/18/choice">化学</a></li>
        <li><a href="/posts/19/choice">地学</a></li>
    </ul>
    <label for="menu_bar05">社会</label>
    <input type="checkbox" id="menu_bar05" />
    <ul id="links05">
        <li><a href="/posts/20/choice">地理</a></li>
        <li><a href="/posts/21/choice">日本史</a></li>
        <li><a href="/posts/22/choice">世界史</a></li>
        <li><a href="/posts/23/choice">公民</a></li>
    </ul>
  </div>
  
  
  <div class="other" id=list>
    <div class="other_1">
      <a href="/">
        全教科
      </a>
    </div>
  </div>
  <div class="other" id=list>
    <div class="other_2">
      <a href="/posts/24/choice">
        その他
      </a>
    </div>
  </div>
</div>