<div class="subjects">
  <div class="subject">
    <div class="subject-name">
      <a href="#">全教科</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">現代語</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">古文</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">漢文</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">英語</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">数学I</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">数学II</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">数学III</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">数学A</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">数学B</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">数学C</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">物理</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">生物</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">化学</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">地学</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">公民</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">地理</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">日本史</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">世界史</a>
    </div>
  </div>
  <div class="subject">
    <div class="subject-name">
      <a href="#">その他</a>
    </div>
  </div>
</div>